body {
    background-image: url(https://pingpoint.co.id/media/images/perwil_JatengOK2.width-800.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

